div {
	background-image: url("Images/Jungle-Background.png");
	background-position: center;
	padding: 20px 50px 10px;
	border: 20px lightgreen;
	border-style: ridge;
	border-radius: 20px;
	color: white;
	font-family: Copperplate, "Courier New", Monospace;
}

header {
	padding: 25px;
	background-color: white;
	color: darkgreen;
	text-align: center;
}

nav {
	padding: 20px;
	color: darkgreen;
	border-bottom-style: solid;
	border-width: 5px;
	margin-right: auto;
}

.horizontal-list {
	list-style-type: none;
	margin: 0;
	padding: 10px;
	overflow: hidden;
	background-color: #333333;
	text-align: center;

}

.horizontal-list li {
	display: inline-block;
}

.horizontal-list li a {
	display: block;
	color: lightblue;
	padding: 14px 16px;
	border: 5px solid #fff;
	background-color: darkgreen;
	border-radius: 20px;
	text-decoration: none;
}

.horizontal-list li a:hover {
	background-color: #111111;
	color: yellow;
}

ul {
	list-style-type: square;
}


main {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px;
}

.About-Us {
	color: brown;
	font-family: Monospace;
}

.Upcoming-Event {
	color: orange;
}

.Related-Park-News {
	color: red;
}

.Park-Rides-Attractions {
	color: brown;
}

.Kumba {
	color: orange;
}

.Iron-Gwazi {
	color: red;
}

.Tigris {
	color: lightgreen;
}

.Cheetah-Hunt {
	color: purple;
}

.SheiKra {
	color: black;
}

.Ride-Information {
	color: orange;
}

.Order-Tickets {
	color: orange;
}

.Kumba-jpg {
	border: 5px;
	color: darkgreen;
	margin: left;
}

hr {
	height: 10px;
	background-color: darkgreen;
}

a {
	color: orange;
}